doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Real Madrid FC

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Real Madrid FC
        <img src ="../gambar2.jpg" class="gambar2">
        
        p Nama Kelompok : Galatikos
        p Nama : Heri Putra Bangun
        p NIM  : 121113649
        p Nama : Muhammad Khairil Adha
        p NIM  : 121112635
        p Nama : Khairuddin Anwar Hasibuan
        p NIM  : 121112988
        p Nama : Muhammad Ridwan Lubis
        p NIM  : 121111621

      section
        h2 Sejarah Real Madrid
        p Real Madrid Club de Fútbol (pengucapan bahasa Spanyol: [reˈal maˈðɾið ˈkluβ ðe ˈfutβol]; Royal Madrid Football Club), umumnya dikenal             sebagai Real Madrid, adalah klub sepak bola profesional yang berbasis di Madrid, Spanyol.
        
        p Didirikan pada tahun 1902 sebagai Madrid Football Club, secara tradisional mengenakan kostum kandang putih. Kata Real ("dari kerajaan")               Spanyol dan dianugerahkan ke klub oleh Raja Alfonso XIII pada tahun 1920 bersama-sama dengan mahkota kerajaan di lambang. Tim ini telah               memainkan pertandingan kandang dalam 85.454-kapasitas Stadion Santiago Bernabéu di pusat kota Madrid sejak tahun 1947.
        
        p Klub ini adalah klub sepak bola terkaya di dunia dalam hal pendapatan, dengan omset tahunan sebesar €513 juta dan paling berharga, senilai             €3.3 miliar.[4][5] Ini adalah salah satu dari tiga klub untuk tidak pernah terdegradasi dari papan atas sepak bola Spanyol, bersama dengan             Athletic Bilbao dan Barcelona. Real Madrid memiliki banyak persaingan lama, terutama El Clásico dengan Barcelona dan El Derbi madrileño               dengan Atlético Madrid.
        
        p Klub memantapkan dirinya sebagai kekuatan utama dalam sepak bola Spanyol dan Eropa selama tahun 1950. Di dalam negeri, Klub ini juga                   merupakan salah satu klub terbaik abad ke-20 menurut FIFA. Mereka telah meraih 32 gelar La Liga, 18 gelar Copa del Rey, 8 Piala Super                 Spanyol, 1 Copa Eva Duarte, 1 Copa de la Liga,[6] 10 gelar Piala Eropa/Liga Champions UEFA, 2 Piala UEFA, 1 Piala Super UEFA, dan 3 Piala             Interkontinental.


      section
        h2 Lambang dan Kostum
        <img src ="../Lambang.jpg" class="gambar1">

      section
        h2 Santiago Bernabéu Yeste dan kesuksesan di Eropa (1945–1978)
        p  Santiago Bernabéu Yeste terpilih menjadi presiden Real Madrid tahun 1943. Di bawah kepemimpinannya, Real Madrid kemudian berhasil membangun            Stadion Santiago Bernabéu dan tempat berlatih klub di Ciudad Deportiva yang sebelumnya sempat rusak akibat Perang Saudara Spanyol. Pada                1953, Bernabeu kemudian mulai membangun tim dengan cara mendatangkan pemain-pemain asing, salah satunya adalah Alfredo Di Stéfano.
        
        p  Alfredo Di Stéfano, memimpin klub untuk memenangkan lima Piala Eropa berturut-turut (saat ini, Liga Champions). Pada tahun 1955, berdasar              dari ide yang diusulkan oleh jurnalis olahraga Perancis dan editor dari L'Equipe, Gabriel Hanot, Bernabéu, Bedrignan, dan Gusztáv Sebes                menciptakan sebuah turnamen sepak bola percobaan dengan mengundang klub-klub terbaik dari seluruh daratan Eropa. Turnamen ini kemudian                menjadi dasar dari Liga Champions UEFA yang berlangsung saat ini.
        
        p  Di bawah bimbingan Bernabéu, Real Madrid memantapkan dirinya sebagai kekuatan utama dalam sepak bola, baik di Spanyol maupun di Eropa. Real            Madrid memenangkan Piala Eropa lima kali berturut-turut antara tahun 1956 dan 1960, di antaranya kemenangan 7–3 atas klub Jerman, Eintracht            Frankfurt pada tahun 1960.[18] Setelah kelima berturut-turut sukses, Real secara permanen diberikan piala asli turnamen dan mendapatkan hak            untuk memakai lencana kehormatan UEFA.
        
      section
        h2 Quinta del Buitre dan ketujuh Piala Eropa (1980–2000)
        p  Pada awal 1980-an, Real Madrid seperti kehilangan cengkeramannya di La Liga dan mereka membutuhkan waktu beberapa tahun untuk bisa kembali            lagi menuju ke atas melalui bantuan beberapa bintang baru. Keberhasilan para bintang baru tersebut kemudian disebut oleh jurnalis olahraga            Spanyol sebagai era generasi La Quinta del Buitre ("Lima Burung Nazar"), yang berasal dari nama el buitre ("burung nazar"), julukan yang              diberikan kepada salah satu pemain Madrid saat itu, Emilio Butragueño. Anggota lainnya adalah Manuel Sanchís, Rafael Martín Vázquez, Miguel            Pardeza, dan Míchel. Dengan La Quinta del Buitre (kemudian berkurang menjadi empat anggota ketika Miguel Pardeza meninggalkan klub dan                pindah ke Real Zaragoza pada 1986) dan pemain terkenal seperti penjaga gawang Francisco Buyo, bek kanan Miguel Porlán Chendo, dan penyerang            Meksiko Hugo Sanchez, Real Madrid berhasil bangkit dan memiliki kekuatan terbaik di daratan Spanyol dan Eropa pada paruh kedua tahun 1980-            an. Hasilnya juga cukup signifikan: mereka berhasil memenangkan dua Piala UEFA, lima gelar Liga Spanyol berturut-turut, satu Piala Spanyol,            dan tiga Piala Super Spanyol. Pada awal 1990-an, La Quinta del Buitre resmi berpisah setelah Rafael Martín Vázquez, Emilio Butragueno, dan            Míchel meninggalkan klub.
        
        p  Pada tahun 1996, Presiden Lorenzo Sanz menunjuk Fabio Capello sebagai pelatih. Meskipun masa jabatannya hanya berlangsung satu musim, Real            Madrid berhasil menjadi juara La Liga lewat kontribusi Roberto Carlos, Predrag Mijatović, Davor Šuker, dan Clarence Seedorf yang membantu              para pemain lokal seperti Raul Gonzalez, Fernando Hierro, Iván Zamorano, dan Fernando Redondo. Real Madrid kemudian menambah amunisi dengan            kedatangan Fernando Morientes pada tahun 1997. Penantian mereka selama 32 tahun untuk bisa berjaya lagi di Eropa akhirnya berakhir pada                tahun 1998 di bawah manajer Jupp Heynckes saat berhasil lolos ke Final Liga Champions UEFA dan mengalahkan Juventus dengan skor 1–0 berkat            gol dari Predrag Mijatović.
 
      section
        h2 Era Los Galácticos (2000–2006)
        p  Pada bulan Juli 2000, Florentino Pérez terpilih sebagai presiden klub.Dia berjanji dalam kampanyenya untuk menghapus utang klub                        sebesar 270 juta euro dan memodernisasi fasilitas klub. Namun, janji pemilu utama yang mendorong Pérez untuk kemenangan adalah                        penandatanganan Luís Figo. Tahun berikutnya, klub mendapat tempat pelatihan yang rezoned dan menggunakan uang itu untuk memulai                        perakitan sisi Galáctico terkenal termasuk pemain seperti Zinedine Zidane, Ronaldo, Luís Figo, Roberto Carlos, Raúl, Fabio Cannavaro dan              David Beckham. Hal ini diperdebatkan apakah berjudi terbayar, karena meskipun Liga Champions UEFA dan Piala Interkontinental menang pada              tahun 2002, diikuti oleh Liga pada tahun 2003, klub gagal memenangkan trofi besar selama tiga musim berikutnya. Pada musim panas 2003,                setelah menangkap lain gelar La Liga, Florentino Pérez dan dewan direksi menolak untuk memperpanjang kontrak pelatih Vicente del Bosque dan            setelah perselisihan internal yang memaksa kapten Fernando Hierro meninggalkan klub.
        
        p  Musim 2005-06 dimulai dengan janji beberapa pemain baru - Julio Baptista (€20 Juta), Robinho (€30 Juta) dan Sergio Ramos (€30 Juta -                  Melepas Klausul) - tetapi pelatih asal Portugal itu tidak dapat menemukan formula yang tepat di lapangan sebagai bentuk miskin Real Madrid            melanjutkan, dengan tim memukul titik terendah setelah kerugian memalukan 0-3 di tangan Barcelona di Santiago Bernabéu. Luxemburgo akhirnya            akan mengundurkan diri dan penggantinya adalah Juan Ramón López Caro, secara resmi manajer Real Madrid Castilla. Sebuah kembali singkat                untuk membentuk datang tiba berhenti setelah kalah dalam leg pertama perempat final Copa del Rey, 6-1 untuk Real Zaragoza. Tak lama setelah            itu, Real Madrid tersingkir dari Liga Champions untuk musim keempat berturut-turut, kali ini di tangan Arsenal. Pada tanggal 27 Februari              2006, Florentino Pérez mengundurkan diri.
        
      section
        h2 Presiden baru Ramón Calderón (2006–2009)
        p  Ramón Calderón terpilih sebagai presiden klub pada tanggal 2 Juli 2006 dan kemudian ditunjuk Fabio Capello sebagai pelatih baru dan Predrag            Mijatović sebagai direktur olahraga baru. Real Madrid memenangkan gelar La Liga pada tahun 2007 untuk pertama kalinya dalam empat tahun                namun Capello dipecat. Pada tanggal 9 Juni 2007, Real bermain melawan Zaragoza di La Romareda. Pertandingan turun ke awal yang buruk ketika            Real Madrid dipaksa untuk mengubah lineup mereka beberapa menit sebelum dimulainya pertandingan saat bek muda Miguel Torres merobek                    hamstring selama pemanasan. Zaragoza memimpin Real 2-1 menjelang akhir pertandingan sementara Barcelona juga menang melawan Espanyol 2-1.              Tantangan gelar Real tampak akan berakhir. Namun, akhir equalizer Ruud van Nistelrooy diikuti dengan menit terakhir gol Raúl Tamudo                    melompat gelar Real Madrid berharap kembali menguntungkan mereka. Sevilla juga ditahan imbang 0-0 tandang melawan Mallorca, yang berarti              bahwa kemenangan di kandang melawan Mallorca efektif akan mengamankan Los Merengues meraih gelar 30 liga Spanyol mereka. Pada musim 2007—              2008, Real Madrid memenangkan liga domestik ke-31 kalinya di bawah asuhan pelatih Jerman, Bernd Schuster.
        
        p  Gelar dimenangkan pada tanggal 17 Juni, Mallorca menghadapi Real di Bernabéu, sementara Barcelona dan Sevila, yang penantang gelar lainnya,            menghadapi Gimnàstic de Tarragona dan Villarreal masing-masing. Pada babak Real time adalah 0-1, sedangkan Barcelona telah melonjak ke                depan menjadi 0-3 memimpin di Tarragona, namun tiga gol di terakhir setengah-satu jam dijamin Real Madrid menang 3-1 dan gelar liga pertama            mereka sejak 2003. Gol pertama datang dari Reyes yang mencetak gol setelah kerja bagus dari Higuaín. Sebuah gol bunuh diri diikuti oleh gol            menyenangkan lain dari Reyes diperbolehkan Real untuk mulai merayakan gelar. Ribuan penggemar Real Madrid mulai pergi ke Plaza de Cibeles              untuk merayakan gelar.
        
      section
        h2 Periode kedua Pérez dan era Mourinho (2009–2013)
        
        p  Pada tanggal 1 Juni 2009, Florentino Pérez kembali menjadi presiden Real Madrid dan bertahan sampai saat ini. Pérez melanjutkan tradisinya            mengontrak pemain bintang dengan membeli Kaká dari AC Milan dan kemudian membeli Cristiano Ronaldo dari Manchester United yang memecahkan              rekor transfer dengan harga 80 juta pound sterling. José Mourinho mengambil alih sebagai manajer pada Mei 2010. Pada April 2011, kejadian              aneh terjadi, untuk pertama kalinya, empat Clásicos itu harus dimainkan dalam rentang delapan belas hari. Yang pertama adalah perlengkapan            untuk pertandingan Liga pada tanggal 17 April (yang berakhir 1-1 dengan gol penalti untuk kedua belah pihak), Copa del Rey (yang berakhir              1-0 untuk Madrid), dan kontroversial leg kedua semifinal Liga Champions pada 27 April dan 2 Mei (3-1 kekalahan agregat) ke Barcelona.
        
        p  Clasico pertama kali melihat Cristiano Ronaldo mendapatkan gol pertamanya melawan Barcelona karena penalti yang diberikan kepada Madrid                setelah pelanggaran ke Marcelo. Final Copa del Rey memberi Real Madrid gelar pertama di bawah Mourinho dengan sundulan Cristiano Ronaldo di            perpanjangan waktu. Semifinal Liga Champions adalah mungkin yang paling kontroversial dari empat pertandingan, dengan pengusiran Pepe pada            leg pertama di Santiago Bernabéu, setelah diduga "tantangan berbahaya" untuk bek Barcelona Daniel Alves. Alves dilakukan dalam tandu "tidak            dapat berjalan", tapi setelah Pepe ditunjukkan memerah, Alves datang berlari kembali ke lapangan dalam hitungan detik. Setelah Pepe yang              mengirimkan dari pelatih Jose Mourinho juga diusir, menerima denda dan larangan lima pertandingan. Pertandingan ini sama juga kontroversial            oleh gelandang Barcelona Sergio Busquets yang ditangkap pada video mengatakan apa yang tampak seperti cercaan rasial seharusnya Madrid bek            kiri Marcelo. Leg kedua tidak kontroversial sebagai yang pertama, dengan mungkin pengecualian tujuan dibatalkan untuk Gonzalo Higuaín,                setelah Cristiano Ronaldo dianggap telah mengotori Javier Mascherano sebagai akibat dari pelanggaran terhadap Ronaldo oleh Gerard Piqué.
        
      section
        h2 Cont..
        
        p  Di La Liga musim 2011-12, Real Madrid memenangkan liga, rekor waktu 32 dalam sejarah La Liga dan menyelesaikan musim dengan sejumlah                  catatan, termasuk 100 poin dalam satu musim, rekor 121 gol yang dicetak & selisih gol dari +89, dan 16 rekor menang tandang dan 32 secara              keseluruhan menang. Di musim yang sama, Cristiano Ronaldo menjadi pemain tercepat untuk mencapai 100 gol dalam sejarah Liga Spanyol. Dalam            mencapai 101 gol dalam 92 pertandingan, Ronaldo melampaui legenda Real Madrid, Ferenc Puskás, yang mencetak 100 gol dalam 105 pertandingan.            Ronaldo menetapkan tanda klub baru untuk tujuan individu mencetak gol dalam satu tahun (60), dan menjadi pemain pertama yang mencetak gol              melawan semua 19 tim oposisi dalam satu musim.
        
        p  Setelah mengecewakan menelan kekalahan oleh Atletico Madrid di Final Copa del Rey 2013, Florentino Perez mengumumkan kepergian Mourinho di            akhir musim dengan "kesepakatan bersama". Mourinho dianggap musim 2012-13 sebagai "yang terburuk dalam karir saya", di mana tim selesai di            semifinal Liga Champions, dan runner up di Copa del Rey. Mourinho kembali ke Liga Inggris dengan Chelsea, sebuah tim yang membawa Mourinho            sukses dari 2004 sampai 2007.
        
      section
        h2 Era Ancelotti dan "La Décima" (2013–sekarang)
        p  Pada 25 Juni 2013, Carlo Ancelotti menjadi manajer Real Madrid, berhasil menggantikan Mourinho, dengan menandatangani kontrak tiga tahun.              Sehari kemudian, ia diperkenalkan pada konferensi pers pertamanya untuk Madrid di mana ia mengumumkan bahwa Zinédine Zidane dan Paul                  Clement, keduanya akan menjadi asistennya. Pada 1 September 2013, transfer lama ditunggu-tunggu dari Gareth Bale diumumkan. Pemain Wales              itu dilaporkan baru penandatanganan rekor dunia, dengan harga transfer diperkirakan sekitar €100 juta. Pada musim pertama Ancelotti di                klub, Real Madrid memenangkan Copa del Rey, dengan Bale mencetak kemenangan di final melawan Barcelona. Pada 24 Mei 2014, Real Madrid                  mengalahkan rival sekotanya Atlético Madrid di Final Liga Champions memenangkan gelar Eropa pertama mereka sejak tahun 2002.
        
      section
        h2 El Clásico
        p  Dalam sebuah liga nasional di suatu negara, sering terdapat persaingan sengit antara dua tim terkuat, dan ini terutama terjadi di La Liga,            di mana pertandingan antara Real Madrid dan Barcelona dikenal sebagai "Pertemuan Klasik" (El Clásico). Sejak awal kompetisi nasional                  dimulai, kedua klub sering dipandang sebagai pencerminan/wakil dari dua daerah berbeda di Spanyol: Catalunya dan Castilla, serta dari dua              kota. Persaingan ini mencerminkan berbagai hal, termasuk ketegangan politik dan budaya antara Catalunya dan Castilla yang merupakan                    gambaran umum dari Perang Saudara Spanyol.
        
        p  Selama era kediktatoran Miguel Primo de Rivera dan terutama Francisco Franco (1939—1975), semua budaya regional ditekan. Semua bahasa                  daerah yang dipakai di wilayah Spanyol, kecuali bahasa Spanyol (Castilla), secara resmi dilarang. Simbolisasi keinginan rakyat untuk                  kebebasan Catalunya membuat Barcelona menjadi "lebih dari sekadar klub sepak bola" (més que un club) untuk masyarakat Catalan. Menurut                Manuel Vázquez Montalbán, cara terbaik untuk orang Catalan untuk menunjukkan identitas mereka adalah dengan bergabung dengan Barcelona. Hal            ini lebih kecil risikonya daripada bergabung dengan gerakan anti-Franco, dan memungkinkan mereka untuk mengekspresikan ketidakpuasan                  mereka.
        
        p  Selama tahun 1950, persaingan tersebut memburuk saat ada kontroversi seputar transfer Alfredo Di Stéfano, yang akhirnya bermain untuk Real            Madrid dan merupakan kunci kesuksesan mereka berikutnya. Pada era 1960-an, kedua klub kemudian bertemu pada Piala Champions lebih dari                dua kali dan pada tahun 2002, pertemuan antara klub Eropa dijuluki sebagai "Pertandingan Abad Ini" oleh media Spanyol, dan disaksikan oleh            lebih dari 500 juta orang di seluruh dunia.      
        
      section
        h2 El Derbi madrileño
        p  Klub tetangga terdekat dari Real Madrid adalah Atletico Madrid yang juga membuat persaingan ketat antara penggemar kedua tim sepak bola                dari ibu kota Madrid tersebut. Meskipun Atlético awalnya didirikan oleh tiga mahasiswa Basque pada tahun 1903, mereka kemudian berhasil                mendapatkan kekuatan baru pada 1904, seiring bergabungnya para mantan pemain Real Madrid. Ketegangan lebih lanjut datang karena pendukung              Real Madrid lebih banyak dari kelas menengah, sementara pendukung Atletico lebih banyak dari kelas buruh dan pekerja. Kedua klub ini                  kemudian bertemu untuk pertama kalinya pada 21 Februari 1929 dalam pertandingan ketiga La Liga dalam musim tersebut. Pertandingan ini                  sekaligus juga menandai pertandingan derbi pertama antara dua tim ini. Pada pertandingan tersebut Real Madrid berhasil menang dengan skor              2–1. Dalam beberapa kesempatan selanjutnya, mereka kembali bertemu dalam ajang lain, salah satunya dalam semifinal Piala Champions tahun              1959, di mana Real yang memenangkan pertandingan pertama dengan skor 2–1 di Santiago Bernabéu dan dibalas kemenangan 1–0 Atletico di                  Metropolitano yang membuat pertandingan harus diulang. Dalam pertandingan ulangan itulah, Real Madrid berhasil menang dengan skor 2–1.                Atletico kemudian berhasil melakukan balas dendam dengan dua kali mengalahkan Real Madrid dalam Copa del Generalísimo tahun 1960 dan 1961              saat dilatih oleh mantan pelatih Real Madrid, José Villalonga Llorente. Real Madrid telah memenangkan El Derbi madrileño sebanyak 75 kali.
           
        p  Antara 1961 dan 1989, ketika Real Madrid mendominasi La Liga, hanya Atletico yang mampu mencuri kesempatan juara pada saat Real lengah.                Mereka berhasil memenangkan gelar La Liga pada tahun 1966, 1970, 1973, dan 1977. Pada tahun 1965, Atletico menjadi tim pertama yang                    mengalahkan Real di Bernabéu dalam kurun waktu delapan tahun. Catatan Real Madrid melawan Atletico pada masa sekarang sangat menguntungkan            bagi kubu Real Madrid. Kemenangan mengesankan dalam derbi ini terjadi pada musim 2002—03, ketika Real Madrid merebut gelar La Liga setelah            menang dengan skor 0–4 atas Atletico di Stadion Vicente Calderón.

      section(data-bespoke-hash='named-route')
        h2 Prestasi
        
        p  Pada 30 Agustus 2012, Real Madrid telah memenangi 31 kali gelar juara La Liga dan 9 kali juara Piala Eropa/Liga Champions UEFA. Klub ini              juga menerima pengharsgaan Klub Terbaik Abad ke-20 menurut FIFA pada 23 Desember 2000. Selain itu, Madrid juga berhasil menerima FIFA Order            of Merit pada tahun 2004. Sebagai juara 9 kali Liga Champions, Real Madrid diperkenankan untuk mengenakan lencana kehormatan (badge of                honours) pada kaus mereka ketika mereka bertanding pada pertandingan Liga Champions.
        
           img(width='800px' height='250px' src='Prestasi.jpg')

      section(data-bespoke-state='emphatic')
        h2 Stadion
        img(width='450px' height='250px' src='Stadion.jpg')
        h3 Nama : Stadion Santiago Bernabéu
        h3 Lokasi : Avenida de Concha Espina 1, E28036, Madrid, Spanyol
        
      section
        h2 Pendukung
        p  Hampir pada setiap musimnya, penonton yang datang memenuhi Stadion Santiago Bernabéu mayoritas diisi oleh para pemegang tiket langganan                yang jumlah totalnya sekitar 68.670 orang. Untuk menjadi pemegang tiket langganan per musim ini, para calon harus bergabung ke pendukung              klub resmi atau biasa disebut socio. Saat ini sekurang-kurangnya ada 1.800 kelompok pendukung resmi klub yang tersebar, baik di Spanyol                atau di Dunia. Jumlah rata-rata penonton di stadion setiap kali Real Madrid bertanding kandang sekitar 65.000 orang. Pencapaian terbaik                diraih pada musim 2004—2005, saat jumlah rata-rata penonton yang hadir mencapai 71.900 orang. Namun, rekor ini kalah dari Barcelona yang              memiliki rata-rata mencapai 76.000 orang.
        
        p  Selain itu, Real Madrid sejak tahun 1999 mengoperasikan sebuah saluran TV swasta, Real Madrid TV, yang mengudara 24 jam sehari. Program ini            mencakup berita harian dari asosiasi dan dunia sepak bola, gambar langsung dari pelatihan tim, penyiaran klasik sepak bola beberapa tahun              terakhir, laporan dan potret, serta siaran berbagai permainan live Real Madrid Castilla (mantan Real Madrid B), kedua - atau tim muda real,            yang saat ini bermain di divisi dua Spanyol. Real Madrid TV melalui televisi digital Operator Digital+ (Astra 1KR dan Hispasat 1C) dan                platform IPTV imagenio tersedia dalam bahasa Spanyol melalui penyedia televisi digital. Versi bahasa Inggris akan dikirim tidak terenkripsi            EUR Bird 9A.
      
      section
        h2 Sekian
        h2 Dan
        h2 Terimakasih
        

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild