
      section
        h2 Sejarah Real Madrid
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>
        p Real Madrid Club de Fútbol (pengucapan bahasa Spanyol: [reˈal maˈðɾið ˈkluβ ðe ˈfutβol]; Royal Madrid Football Club), umumnya dikenal sebagai Real Madrid, adalah klub sepak bola profesional yang berbasis di Madrid, Spanyol.

Didirikan pada tahun 1902 sebagai Madrid Football Club, secara tradisional mengenakan kostum kandang putih. Kata Real ("dari kerajaan") Spanyol dan dianugerahkan ke klub oleh Raja Alfonso XIII pada tahun 1920 bersama-sama dengan mahkota kerajaan di lambang. Tim ini telah memainkan pertandingan kandang dalam 85.454-kapasitas Stadion Santiago Bernabéu di pusat kota Madrid sejak tahun 1947.

Klub ini adalah klub sepak bola terkaya di dunia dalam hal pendapatan, dengan omset tahunan sebesar €513 juta dan paling berharga, senilai €3.3 miliar.[4][5] Ini adalah salah satu dari tiga klub untuk tidak pernah terdegradasi dari papan atas sepak bola Spanyol, bersama dengan Athletic Bilbao dan Barcelona. Real Madrid memiliki banyak persaingan lama, terutama El Clásico dengan Barcelona dan El Derbi madrileño dengan Atlético Madrid.

Klub memantapkan dirinya sebagai kekuatan utama dalam sepak bola Spanyol dan Eropa selama tahun 1950. Di dalam negeri, Klub ini juga merupakan salah satu klub terbaik abad ke-20 menurut FIFA. Mereka telah meraih 32 gelar La Liga, 18 gelar Copa del Rey, 8 Piala Super Spanyol, 1 Copa Eva Duarte, 1 Copa de la Liga,[6] 10 gelar Piala Eropa/Liga Champions UEFA, 2 Piala UEFA, 1 Piala Super UEFA, dan 3 Piala Interkontinental.
        

      section
        h2 Lambang dan Kostum
